<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>.Band</title>
    <link rel="stylesheet" href="assets/css/vendors/normalize.css">
    <!-- <link rel="stylesheet" href="./css/grid.css"> -->
    <link rel="stylesheet" href="assets/css/fixed.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/vendors/flickity.css">
    <link rel="stylesheet" href="assets/css/vendors/flickity-fade.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/flickity-fade@1/flickity-fade.css" /> -->

    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/cart.css" />
    <link rel="stylesheet" href="assets/css/home.css" />
    <link rel="stylesheet" href="assets/css/contact.css" />
    <link rel="stylesheet" href="assets/css/products.css" />
    <link rel="stylesheet" href="assets/css/collections.css" />
    <link rel="stylesheet" href="assets/css/model.css" />
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>





<body class="index">
    <div class="screen-alert">
        <p class="screen-alert-mark">!</p>
        <h3 class="screen-alert-content-small">Screen small</h3>
        <h3 class="screen-alert-content-rotate">Screen rotate</h3>
    </div>

    <div class="wrapper">
        <div class="load-container">
            <div class="loading-screen">
            </div>
        </div>

        <div class="" data-barba="wrapper">
            <main data-barba="container" data-barba-namespace="cart">
                <div class="main">


                    <div class="cart-overly">
                        <!-- partial:index.partial.html -->
                        <!-- <h1>Flickity - asNavFor</h1> -->
                        <div class="has-slider">
                            <div class="container-slider">
                                <!-- Flickity HTML init -->
                                <div class="carousel-main-cart">
                                    <div class="carousel-cell-main-cart">
                                        <div class="parallax">
                                            <!-- background parallax layer -->
                                            <!-- carousel: midground parallax layer -->
                                            <div class="carousel-cart">
                                                <div class="carousel-cell-cart">
                                                    <div class="carousel-contain-cart">
                                                        <div class="carousel-contain-card-cart">
                                                            <img src="assets/img/17.jpg" alt="orange tree"
                                                                class="carousel-image-cart" />
                                                            <div class="carousel-overlay-cart"></div>
                                                            <div class="carousel-content-cart">
                                                                <div class="carousel-content-price-cart">
                                                                    $45.99
                                                                </div>
                                                                <div class="carousel-content-model-cart">Model Name
                                                                </div>
                                                                <!-- <div class="carousel-content-details-cart">
                                      Lorem Ipsum is simply dummy text
                                    </div> -->
                                                                <div class="plusminus horiz">
                                                                    <button class="minus">
                                                                        <div class="minus-one"></div>
                                                                    </button>
                                                                    <input type="number" name="productQty" value="1"
                                                                        min="0" max="10" />
                                                                    <button class="plus">
                                                                        <div class="plus-one"></div>
                                                                        <div class="plus-two"></div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="carousel-cell-cart">
                                                    <div class="carousel-contain-cart">
                                                        <div class="carousel-contain-card-cart">
                                                            <img src="assets/img/10.jpg" alt="orange tree"
                                                                class="carousel-image-cart" />
                                                            <div class="carousel-overlay-cart"></div>
                                                            <div class="carousel-content-cart">
                                                                <div class="carousel-content-price-cart">
                                                                    $45.99
                                                                </div>
                                                                <div class="carousel-content-model-cart">Model Name
                                                                </div>
                                                                <!-- <div class="carousel-content-details-cart">
                                      Lorem Ipsum is simply dummy text
                                    </div> -->
                                                                <div class="plusminus horiz">
                                                                    <button class="minus">
                                                                        <div class="minus-one"></div>
                                                                    </button>
                                                                    <input type="number" name="productQty" value="1"
                                                                        min="0" max="10" />
                                                                    <button class="plus">
                                                                        <div class="plus-one"></div>
                                                                        <div class="plus-two"></div>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="carousel-category-content-back-cart">Product</p>
                                            <!-- <p class="carousel-category-content-back-cart">cart</p> -->
                                            <!-- <p class="carousel-category-content">Glasses</p> -->
                                            <!-- <p class="carousel-cunt-cart"></p>
                                  <p class="carousel-status-cart"></p> -->
                                            <!-- <div class="progress-bar-cart"></div> -->
                                        </div>
                                    </div>

                                    <div class="carousel-cell-main-cart">
                                        <div class="wrapper-input">
                                            <form>

                                                <div class="input-container-together">
                                                    <div class="input-container input-container-together-one">
                                                        <p class="input-container-label">What is your first name?</p>
                                                        <p class="input-container-required">Required</p>
                                                        <input type="text" id="firstname" required="required"
                                                            class="chekkk" />
                                                        <label for="firstname">Fname</label>
                                                        <div class="bar"></div>
                                                        <p class="input-container-number">01</p>
                                                    </div>

                                                    <div class="input-container input-container-together-two">
                                                        <p class="input-container-label">What is your last name?</p>
                                                        <p class="input-container-required">Required</p>
                                                        <input type="text" id="lastname" required="required" />
                                                        <label for="lastname">Lname</label>
                                                        <div class="bar"></div>
                                                        <p class="input-container-number">02</p>
                                                    </div>
                                                </div>
                                                <div class="input-container">
                                                    <p class="input-container-label">Enter code.</p>
                                                    <p class="input-container-required">Optional</p>
                                                    <input type="text" id="code" />
                                                    <label for="code">Code</label>
                                                    <div class="bar"></div>
                                                    <p class="input-container-number">03</p>
                                                </div>
                                                <div class="input-container-together">
                                                    <div class="input-container input-container-together-one">
                                                        <p class="input-container-label">What is your phone number?</p>
                                                        <p class="input-container-required">Required</p>
                                                        <input type="text" id="phonenumber" required="required" />
                                                        <label for="phonenumber">Number</label>
                                                        <div class="bar"></div>
                                                        <p class="input-container-number">04</p>
                                                    </div>

                                                    <div class="input-container input-container-together-two">
                                                        <p class="input-container-label">what is your email address?</p>
                                                        <p class="input-container-required">Required</p>
                                                        <input type="text" id="emailcart" required="required" />
                                                        <label for="emailcart">Email</label>
                                                        <div class="bar"></div>
                                                        <p class="input-container-number">05</p>
                                                    </div>
                                                </div>

                                            </form>
                                        </div>
                                        <p class="carousel-category-content-back-cart">Personal</p>
                                    </div>
                                    <div class="carousel-cell-main-cart">
                                        <div class="wrapper-input">
                                            <form>
                                                <div class="input-container-together">
                                                    <div class="input-container input-container-together-one">
                                                        <p class="input-container-label">What is your country?</p>
                                                        <p class="input-container-required">Required</p>
                                                        <input type="text" id="country" required="required" />
                                                        <label for="country">Country</label>
                                                        <div class="bar"></div>
                                                        <p class="input-container-number">01</p>
                                                    </div>

                                                    <div class="input-container input-container-together-two">
                                                        <p class="input-container-label">What is your city</p>
                                                        <p class="input-container-required">Required</p>
                                                        <input type="text" id="city" required="required" />
                                                        <label for="city">City</label>
                                                        <div class="bar"></div>
                                                        <p class="input-container-number">02</p>
                                                    </div>
                                                </div>

                                                <div class="input-container">
                                                    <p class="input-container-label">Where is address?</p>
                                                    <p class="input-container-required">Required</p>
                                                    <input type="text" id="address" required="required" />
                                                    <label for="address">Address</label>
                                                    <div class="bar"></div>
                                                    <p class="input-container-number">03</p>
                                                </div>

                                                <div class="input-container-together">
                                                    <div class="input-container input-container-together-one">
                                                        <p class="input-container-label">What is your postal code?</p>
                                                        <p class="input-container-required">Required</p>
                                                        <input type="text" id="postalcode" required="required" />
                                                        <label for="postalcode">Postal</label>
                                                        <div class="bar"></div>
                                                        <p class="input-container-number">04</p>
                                                    </div>

                                                    <div class="input-container input-container-together-two">
                                                        <p class="input-container-label">What is your home number</p>
                                                        <p class="input-container-required">Required</p>
                                                        <input type="text" id="homenumber" required="required" />
                                                        <label for="homenumber">Phone</label>
                                                        <div class="bar"></div>
                                                        <p class="input-container-number">05</p>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <p class="carousel-category-content-back-cart">Position</p>
                                    </div>
                                    <!-- <div class="carousel-cell-main-cart">W</div>
                          <div class="carousel-cell-main-cart">C</div> -->
                                </div>
                                <div class="progress-bar-cart"></div>

                                <!-- <div class="flickity-page-dots dot"></div> -->
                                <!-- <p class="carousel-status">1</p> -->

                                <!-- <div class="carousel-nav-cart">
                          <div class="carousel-cell-nav-cart">
                            <div class="carousel-nav-nav-cart">1</div>
                          </div>
                          <div class="carousel-cell-nav-cart">
                            <div class="carousel-nav-nav-cart">2</div>
                          </div>
                          <div class="carousel-cell-nav-cart">
                            <div class="carousel-nav-nav-cart">3</div>
                          </div>
                          <div class="carousel-cell-nav-cart">
                            <div class="carousel-nav-nav-cart">4</div>
                          </div>
                          <div class="carousel-cell-nav-cart">
                            <div class="carousel-nav-nav-cart">5</div>
                          </div>
                        </div> -->
                                <div class="button-row-cart">
                                    <div class="button-group-cart button-group-cells-cart">
                                        <div class="button-cart is-selected"></div>
                                        <!-- <p class="button-info-cart">01. Product Info</p> -->
                                        <div class="button-cart"></div>
                                        <!-- <p class="button-info-cart">02. Personal Info</p> -->
                                        <div class="button-cart"></div>
                                        <!-- <p class="button-info-cart">03. Position Info</p> -->
                                    </div>
                                </div>
                                <div class="cart-overly-footer" dir="">

                                    <div class="cart-side-total">
                                        <p>850T</p>
                                    </div>

                                    <div class="cart-discount-btn">%</div>

                                    <div class="cart-side-arrow">
                                        <div class="button-group-arrow-cart">
                                            <div class="button-cart-arrow button-previous-cart">
                                                <div class="left-icon"></div>
                                            </div>
                                            <div class="button-cart-arrow button-next-cart">
                                                <div class="right-icon"></div>
                                            </div>
                                            <div class="button-cart-arrow button-next-cart finish-icon-active">
                                                <div class="finish-icon"></div>
                                            </div>
                                            <p class="carousel-status-cart">1</p>
                                        </div>

                                    </div>
                                </div>


                                <div class="cart-discount-overly">
                                    <div class="cart-discount-container">
                                        <input class="codeInput" type="text" placeholder="Discount Code">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </main>
        </div>









        <a href="./index.html">
            <div class="logo-band cursor-link">
                <div class="letter-b"></div>
                <div class="letter-n"></div>
                <div class="letter-d"></div>
                <div class="point-b"></div>
                <div class="point-n"></div>
            </div>
        </a>

        <div class="navbar-btn cursor-link">
            <div class="menu-btn">
                <div class="menu-btn-one"></div>
                <div class="menu-btn-two"></div>
            </div>
            <a href="./cart.html">
                <div class="cart-btn cursor-link">
                    <div class="cart-btn-one"></div>
                    <div class="cart-btn-two"></div>
                    <div class="cart-btn-badges">
                        <p class="cart-btn-badges-counter">0</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="menu-overly">
            <div class="menu-data row">

                <div class="menu-col-data">
                    <ul class="menu-content-data">
                        <li>Navigation</li>
                        <li><a href="./index.html" class="aaa">Home</a></li>
                        <li><a href="./products.html" class="aaa pro">Products</a></li>
                        <li><a href="./collections.html" class="aaa coll">Collections</a></li>
                        <li><a href="#" class="aaa">Blog</a></li>
                        <li><a href="./about.html" class="aaa">About</a></li>
                        <li><a href="./contact.html" class="aaa">Contact</a></li>
                        <li class="menu-language">
                            <a href="#" class="aaa menu-language">EN</a>
                            <a href="#" class="aaa menu-language">العربية</a>
                            <a href="#" class="aaa menu-language">فا</a>
                        </li>
                    </ul>
                </div>

                <div class="menu-col-address">
                    <ul class="menu-content-address">
                        <li>Let’s talk</li>
                        <li><a href="#" class="aaaa">info@dar.band</a></li>
                        <li>+98 990 011 5787</li>
                        <li class="menu-social-media-data-icon">
                            <a href="#" class="menu-social-media-data-icon"><i class="fab fa-twitter"></i></a>
                            <a href="#" class="menu-social-media-data-icon"><i class="fab fa-instagram"></i></a>
                            <a href="#" class="menu-social-media-data-icon"><i class="fab fa-telegram-plane"></i></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>








        <div class="social-media">
            <div class="social-media-btn cursor-link">
                <div class="social-media-btn-one"></div>
                <div class="social-media-btn-two"></div>
            </div>
            <div class="social-media-data">
                <a href="#" class="social-media-data-icon"><i class="fab fa-twitter"></i></a>
                <a href="#" class="social-media-data-icon"><i class="fab fa-instagram"></i></a>
                <a href="#" class="social-media-data-icon"><i class="fab fa-telegram-plane"></i></a>
            </div>
        </div>
        <!---CURSORS--->
        <div class="cursor">

            <div class="dragge-1"></div>
            <div class="dragge-2"></div>


            <div class="main-cursor"></div>
            <div class="follow-cursor"></div>
            <div class="pace-activity"></div>
        </div>
    </div>


    <!-- startScripts -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> -->
    <script type="text/javascript" src="assets/js/vendors/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/vendors/jquery/2.2.2/jquery.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script> -->
    <script type="text/javascript" src="assets/js/vendors/gsap/2.1.2/TweenMax.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script> -->

    <script type="text/javascript" src="assets/js/vendors/flickity.js"></script>
    <script type="text/javascript" src="assets/js/vendors/flickity-fade.js"></script>
    <!-- <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
    <script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script> -->

    <script src="assets/js/script.js"></script>
    <script src="assets/js/cart.js"></script>

    <script type="text/javascript" src="assets/js/vendors/barba.umd.js"></script>
    <script type="text/javascript" src="assets/js/transitions.js"></script>
    <!-- <script src="assets/js/vendors/pace.min.js"></script> -->
    <!-- endScripts -->


</body>

</html>