<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>.Band</title>
    <link rel="stylesheet" href="assets/css/vendors/normalize.css">
    <!-- <link rel="stylesheet" href="./css/grid.css"> -->
    <link rel="stylesheet" href="assets/css/fixed.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/vendors/flickity.css">
    <link rel="stylesheet" href="assets/css/vendors/flickity-fade.css">
    <!-- <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/flickity-fade@1/flickity-fade.css" /> -->

    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/cart.css" />
    <link rel="stylesheet" href="assets/css/home.css" />
    <link rel="stylesheet" href="assets/css/contact.css" />
    <link rel="stylesheet" href="assets/css/products.css" />
    <link rel="stylesheet" href="assets/css/collections.css" />
    <link rel="stylesheet" href="assets/css/model.css" />
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>





<body class="index">

    <div class="screen-alert">
        <p class="screen-alert-mark">!</p>
        <h3 class="screen-alert-content-small">Screen small</h3>
        <h3 class="screen-alert-content-rotate">Screen rotate</h3>
    </div>
    <div class="load-container">
        <div class="loading-screen"></div>
    </div>

    <div class="contact-wrapper" data-barba="wrapper">
        <main data-barba="container" data-barba-namespace="home">
            <div class="main">


                <div class="contact-data row">

                    <div class="contact-col-data">
                        <ul class="contact-content-data">
                            <li>Contact</li>
                            <li><a href="#" class="aaaa">info@dar.band</a></li>
                            <li>+98 990 011 5787</li>
                            <li class="contact-social-media-data-icon">
                                <a href="#" class="contact-social-media-data-icon"><i class="fab fa-twitter"></i></a>
                                <a href="#" class="contact-social-media-data-icon"><i class="fab fa-instagram"></i></a>
                                <a href="#" class="contact-social-media-data-icon"><i
                                        class="fab fa-telegram-plane"></i></a>
                            </li>
                        </ul>
                    </div>

                    <div class="contact-col-address">
                        <ul class="contact-content-address">
                            <li>Tehran</li>
                            <li>35.6949°N / 51.4011°E</li>
                        </ul>
                    </div>

                </div>

                <img src="assets/img/tehran-map5.png" class="img-map">





                <div class="contact-form-btn">Hi</div>
                <div class="contact-form-overly">
                    <div class="contact-form-container">
                        <!-- Flickity HTML init -->
                        <div class="contact-form-carousel-wrraper">
                            <div class="contact-form-carousel-main">
                                <div class="contact-form-carousel-cell">
                                    <div class="contact-form-wrapper-input">
                                        <form>


                                            <div class="contact-form-input-container">
                                                <p class="contact-form-input-container-label">Enter your name.</p>
                                                <input type="text" id="name" required="required" />
                                                <label for="name">Name</label>
                                                <div class="contact-form-bar"></div>
                                                <p class="contact-form-input-container-number">01</p>
                                                <!-- <p class="contact-form-input-container-required">Required</p> -->
                                            </div>


                                        </form>
                                    </div>
                                </div>
                                <div class="contact-form-carousel-cell">
                                    <div class="contact-form-wrapper-input">
                                        <form>


                                            <div class="contact-form-input-container">
                                                <p class="contact-form-input-container-label">Enter your email.</p>
                                                <input type="text" id="emailmessage" required="required" />
                                                <label for="emailmessage">Email</label>
                                                <div class="contact-form-bar"></div>
                                                <p class="contact-form-input-container-number">02</p>
                                                <!-- <p class="contact-form-input-container-required">Required</p> -->
                                            </div>


                                        </form>
                                    </div>
                                </div>
                                <div class="contact-form-carousel-cell">
                                    <div class="contact-form-wrapper-input">
                                        <form>


                                            <div class="contact-form-input-container">
                                                <p class="contact-form-input-container-label">Enter your message.
                                                </p>
                                                <textarea name="message" required="required" id="message"></textarea>
                                                <label for="message">Hi...</label>
                                                <div class="contact-form-bar"></div>
                                                <p class="contact-form-input-container-number">03</p>
                                                <!-- <p class="contact-form-input-container-required">Required</p> -->
                                                <p class="contact-form-input-container-unlimited">unlimited</p>
                                            </div>


                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-carousel-progress-bar"></div>

                        <div class="contact-form-carousel-button-row">
                            <div class="contact-form-carousel-button-group contact-form-carousel-button-group-cells">
                                <div class="contact-form-carousel-button contact-form-carousel-is-selected">
                                </div>
                                <!-- <p class="button-info-cart">01. Product Info</p> -->
                                <div class="contact-form-carousel-button"></div>
                                <!-- <p class="button-info-cart">02. Personal Info</p> -->
                                <div class="contact-form-carousel-button"></div>
                                <!-- <p class="button-info-cart">03. Position Info</p> -->
                            </div>
                        </div>

                        <div class="contact-form-carousel-side-arrow">
                            <div class="button-group-arrow-cart">
                                <div class="button-cart-arrow contact-form-carousel-button-previous">
                                    <div class="contact-form-carousel-left-icon"></div>
                                </div>
                                <div class="button-cart-arrow contact-form-carousel-button-next">
                                    <div class="contact-form-carousel-right-icon"></div>
                                </div>
                                <div class="button-cart-arrow contact-form-carousel-button-next finish-icon-active">
                                    <div class="contact-form-carousel-finish-icon"></div>
                                </div>
                                <p class="contact-form-carousel-status">1</p>
                            </div>

                        </div>

                        <!-- <div class="contact-form-carousel-overly-footer" dir="">

                                <div class="contact-form-carousel-side-total">
                                    <p>850T</p>
                                </div>

                                <div class="contact-form-carousel-side-arrow">
                                    <div class="button-group-arrow-cart">
                                        <div class="button-cart-arrow contact-form-carousel-button-previous">
                                            <div class="contact-form-carousel-left-icon"></div>
                                        </div>
                                        <div class="button-cart-arrow contact-form-carousel-button-next">
                                            <div class="contact-form-carousel-right-icon"></div>
                                        </div>
                                        <div
                                            class="button-cart-arrow contact-form-carousel-button-next finish-icon-active">
                                            <div class="contact-form-carousel-finish-icon"></div>
                                        </div>
                                        <p class="contact-form-carousel-status">1</p>
                                    </div>

                                </div>
                            </div> -->

                    </div>
                </div>













            </div>
        </main>
    </div>









    <a href="./index.html">
        <div class="logo-band cursor-link">
            <div class="letter-b"></div>
            <div class="letter-n"></div>
            <div class="letter-d"></div>
            <div class="point-b"></div>
            <div class="point-n"></div>
        </div>
    </a>

    <div class="navbar-btn cursor-link">
        <div class="menu-btn">
            <div class="menu-btn-one"></div>
            <div class="menu-btn-two"></div>
        </div>
        <a href="./cart.html">
            <div class="cart-btn cursor-link">
                <div class="cart-btn-one"></div>
                <div class="cart-btn-two"></div>
                <div class="cart-btn-badges">
                    <p class="cart-btn-badges-counter">0</p>
                </div>
            </div>
        </a>
    </div>

    <div class="menu-overly">
        <div class="menu-data row">

            <div class="menu-col-data">
                <ul class="menu-content-data">
                    <li>Navigation</li>
                    <li><a href="./index.html" class="aaa">Home</a></li>
                    <li><a href="./products.html" class="aaa pro">Products</a></li>
                    <li><a href="./collections.html" class="aaa coll">Collections</a></li>
                    <li><a href="#" class="aaa">Blog</a></li>
                    <li><a href="./about.html" class="aaa">About</a></li>
                    <li><a href="./contact.html" class="aaa">Contact</a></li>
                    <li class="menu-language">
                        <a href="#" class="aaa menu-language">EN</a>
                        <a href="#" class="aaa menu-language">العربية</a>
                        <a href="#" class="aaa menu-language">فا</a>
                    </li>
                </ul>
            </div>

            <div class="menu-col-address">
                <ul class="menu-content-address">
                    <li>Let’s talk</li>
                    <li><a href="#" class="aaaa">info@dar.band</a></li>
                    <li>+98 990 011 5787</li>
                    <li class="menu-social-media-data-icon">
                        <a href="#" class="menu-social-media-data-icon"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="menu-social-media-data-icon"><i class="fab fa-instagram"></i></a>
                        <a href="#" class="menu-social-media-data-icon"><i class="fab fa-telegram-plane"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>













    <div class="social-media">
        <div class="social-media-btn cursor-link">
            <div class="social-media-btn-one"></div>
            <div class="social-media-btn-two"></div>
        </div>
        <div class="social-media-data">
            <a href="#" class="social-media-data-icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-media-data-icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-media-data-icon"><i class="fab fa-telegram-plane"></i></a>
        </div>
    </div>
    <!---CURSORS--->
    <div class="cursor">

        <div class="dragge-1"></div>
        <div class="dragge-2"></div>


        <div class="main-cursor"></div>
        <div class="follow-cursor"></div>
        <div class="pace-activity"></div>
    </div>
    <!-- startScripts -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> -->
    <script type="text/javascript" src="assets/js/vendors/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="assets/js/vendors/jquery/2.2.2/jquery.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script> -->
    <script type="text/javascript" src="assets/js/vendors/gsap/2.1.2/TweenMax.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.2/TweenMax.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.6/gsap.min.js"></script> -->

    <script type="text/javascript" src="assets/js/vendors/flickity.js"></script>
    <script type="text/javascript" src="assets/js/vendors/flickity-fade.js"></script>
    <!-- <script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
    <script src="https://unpkg.com/flickity-fade@1/flickity-fade.js"></script> -->

    <script src="assets/js/script.js"></script>
    <!-- <script src="assets/js/cart.js"></script> -->
    <script src="assets/js/contact.js"></script>

    <script type="text/javascript" src="assets/js/vendors/barba.umd.js"></script>
    <script type="text/javascript" src="assets/js/transitions.js"></script>
    <!-- <script src="assets/js/vendors/pace.min.js"></script> -->
    <!-- endScripts -->


</body>

</html>