{% extends "_base.html" %}
{% load static %}

{% block content %}
<br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-10">
        <div class="container">
          <div class="row">
            <div class="col">
              <h3 style="color:gray; text-align: center">Please Enter your tracking Code to see your order status.</h3><br>
              <form method="get" action="">
                {% csrf_token %}
                <input name="track_code" class="form-control" type="text" placeholder="example: 123"><br>
                <button type="submit" class="btn btn-outline-secondary">Check</button>
              </form>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <br><br>
              {% if track_code_valid == 1 %}
                <p style="color: gray;">Your tracking code is valid and your order is on the way</p>
              {% elif track_code_valid == 2 %}
                <p style="color: gray;">Sorry, this tracking code doesn't seem valid.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
